<div class="footer ">
	<div class="card ml-5 pt-3 mb-0 px-5 border-radius-0">
		<div class="d-flex justify-content-between px-5">
			<div class="d-flex">
				<p>Powered by </p>
				<a href="#" class="Icon-Color pt-1"> nopCommerce</a>
			</div>
			<div>
				<p>Tuesday, April 12, 2022 7:37 AM</p>
			</div>
			<div>
				<p>nopCommerce version 4.50.0</p>
			</div>
		</div>
	</div>
</div>